html{
background-color:#bee3f6;
font-family:sans-serif;
min-width:800px;
}

li{
padding-left:0;
padding-right:7px;
margin-top:0px;
list-style-type: none;
display:inline;
font-size:15px;
padding-bottom:0px;
}

a{
color:black;
text-decoration:none;
}

.header{
padding:0;
width:800px;
margin-left:auto;
margin-right:auto;
}

.logo{
position:absolute;
float:right;
}

.nav{
padding-left:120px;
height:20px;
}

.nav2{
margin-left:120px;
background-color:white;
width:600px;
}

.active{
padding-left:3px;
padding-right:3px;
padding-bottom:5px;
background-color:white;
border-top-left-radius:6px;
border-top-right-radius:6px;
}

.lg{
color:gray;
font-size:10px;
}

.getmore{
font-size:13px;
color:green;
font-weight: bold;
margin-left:80px;
}

.name{
color:#697fd6;
}

.content{
background-color:white;
border-top-left-radius:5px;
width:780px;
height:800px;
margin-left:auto;
margin-right:auto;
border-width:10px;
border-style:solid;
border-color:white;
}

.profile{
position:absolute;
width:240px;
height:320px;
border-color:#a5d9fa;
border-width:7px;
border-style:solid;
border-radius:5px; 
}

.prof{
margin:auto auto;
padding-top:3px;
}

.inner{
display:table;
margin: auto auto;
}

.centered{
text-align:center;
}

.aptlink{
font-weight:bold;
color:Green;
font-size:14px;
}

p{
text-align:center;
margin:0;
}

.info{
text-align:left;
font-size:13px;
}

.nav3{
position:inherit;
margin-left:120px;
margin-top:-154.5px;
background-color:#a5d9fa;
width:500px;
border-radius:5px;
}

#slctd{
color:#1f587c;
font-weight:bolder;
padding-left:5px;
background-color:white;
border-top-left-radius:5px;
border-top-right-radius:5px;
margin-top:1px;
}

#nslctd{
color:#ba4845;
font-weight:bolder;
padding-left:5px;
background-color:#bee3f6;
border-top-left-radius:5px;
border-top-right-radius:5px;
margin-top:1px;
}

.nav4{
position:inherit;
margin-left:130px;
margin-top:-140px;
background-color:#a5d9fa;
width:480px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

.submit{
margin-left:-35px;
margin-top:4px;
color:gray;
font-size:17px;
width:503px;
max-width:503px;
height:30px;
}

.btn{
text-align:center;
background-color:#305a96;
color:white;
text-decoration:none;
font-size: 15px;
border: none;
border-radius: 5px;
padding: 2px 2px;
margin-left:435px;
margin-bottom:10px;
}

.space{
height:3px;
}

.clubs{
margin-top:40px;
margin-left:-8px;
}

.cname{
text-align:left;
background-color:#fecfcd;
color:#cf302c;
font-weight:bold;
border-width:5px;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
width:255px;
}

.badge{
margin-left:70px;
margin-top:30px;
width:50%;
}

.bdy{
color:gray;
font-weight:bold;
font-size:13px;
text-align:left;
margin-left:20px;
margin-top:30px;
width:200px;
}

.grn{
color:#54a551;
}

.comtxt{
margin-left:270px;
margin-top:-570px;
width:450px;
color:gray;
font-weight:bold;
font-size:13px;
}

.lnk{
color:#54a551;
}