html{
background-color:#bee3f6;
font-family:sans-serif;
min-width:800px;
}

li{
padding-left:0;
padding-right:7px;
margin-top:0px;
list-style-type: none;
display:inline;
font-size:15px;
padding-bottom:0px;
}

a{
color:black;
text-decoration:none;
}

.header{
padding:0;
width:800px;
margin-left:auto;
margin-right:auto;
}

.logo{
position:absolute;
float:right;
}

.nav{
padding-left:120px;
height:20px;
}

.nav2{
margin-left:120px;
background-color:white;
width:600px;
}

.active{
padding-left:3px;
padding-right:3px;
padding-bottom:5px;
background-color:white;
border-top-left-radius:6px;
border-top-right-radius:6px;
}

.content{
background-color:white;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
width:780px;
height:300px;
margin-top:-10px;
margin-left:auto;
margin-right:auto;
border-width:10px;
border-style:solid;
border-color:white;
}

img{
margin-left:-1px;
}

#footer {
position:relative;
clear: both;
color: #cf2f2b;
font-size: 14px;
width: 800px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
background:rgba(255,255,255,0.6);
height:40px;
border-radius:5px;
border-top-right-radius:0px;
}

.ftr{
color:#cf2f2b;
}

.nav5{
margin-left:210px;
height:20px;
font-weight:bold;
font-size:16px;
width:600px;
}

#notice{
margin-left:350px;
font-size:10px;
font-weight: normal;
}

.bg{
width:100%;
height:150px;
background-image:url(img/map-fade4.jpg);
background-position:center;
}