html{
	background-color: #587a97;
	min-width:640px;
	width:100%;
	overflow: auto;
}

.body{
	width:100%;
	min-width:640px;
}

.preview{
	position:inherit;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.appPreview{
	display:block;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	width:640px;
	height:480px;
}

h1{
	position:relative;
	text-align:center;
	font-family:monospace;
	color:#2C3E50;
	min-width:680px;
	padding-top:10px;
}

.img1{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.header{
	width:100%;
	height:50px;
	background-color:#bdbdbd;
	margin-top:-20px;
	margin-left:-10px;
	padding-right:10px;
	padding-left:10px;
	padding-top:-50px;
	position:inherit;
}
.box{
	display:inline-block;
	width:200px;
	height:210px;
 	margin:4.43px;
 	background:#fff;

 	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
 }

.tables{
	position:relative;
	width:640px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

.title{
	font-family:monospace;
	font-size:14px;
	max-width:200px;
	max-height:14px;
	text-align:center;
	margin-top:0;
}